# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members.
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [3]:
hello = "hello world"
number_five = "5"

hello.split()

['hello', 'world']

## Integers

In [ ]:
myint = 24
muotherint = 37

## Floats

In [ ]:
myfloat = 4345.43
myotherfloat = -342.45

## Lists

In [27]:
shopping = ["apples", "bread", "tp", "milk"]
morelists = ["1","help", "ok", "beans"]
office = ["lamp","chair", "stool"]

In [28]:

finallist = [shopping, morelists, office]

In [29]:
# normal indexing
shopping[1]

# indexing within
shopping[1][0]

# Accessing lists within lists
finallist[0][3]

# type of lists
type(shopping)

list

## Tuples

In [34]:
fruittuple = ("apples", "orange", "pear")
fruittuple[1]

# Can not change values in a tuple
fruittuple[1] = "kiwi" ## so this does not work!

'orange'

## Sets

In [33]:
# shows all the things we can do to lists
dir(shopping)

# change lists
shopping.append("bananas")
shopping

# Tip: There are no positions in a set
set(shopping)

{'apples', 'bananas', 'bread', 'milk', 'tp'}

## Dictionaries

In [35]:
matilda = {'name' : 'Matilda',
            'age': '24',
           'hair' : 'brown'}
matilda['name']

'Matilda'

# Loops

In [37]:
for x in range(5):
    print(x)

0
1
2
3
4

In [62]:
fruits = ["apple","orange","grape", "pears"]

In [72]:
for x in fruits:
        if 'p' in x:
                if x.startswith('g'):
                    print("I love " + x)

I love grape

In [52]:
fruits

['apple', 'orange', 'grape']

In [75]:
f = ['i love '+ x for x in fruits]
f

['i love apple', 'i love orange', 'i love grape']